.filter-view {
    display: flex;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.view__item {
    margin-right: 2rem;
    border: 0.1rem solid lightgrey;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}