.pagination-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-view__list {
    display: flex;
}

.list__item {
    padding: 1rem;
    border: 0.1rem solid lightgrey;
    list-style-type: none;
    cursor: pointer;
}

.selected {
    background-color: lightseagreen;
}